.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 60px;
  width: auto;

  @media (max-width: 1150px) {
    gap: 16px;
    width: 90%;
  }
}

.filter-form {
  align-items: center;
  display: flex;
  gap: 8px;

  label {
    @media (max-width: 1150px) {
      font-size: 12px;
    }
  }

  input {
    border: 1px solid var(--primary-gray);
    border-radius: 99px;
    color: var(--font);
    font-weight: bold;
    max-width: 130px;
    padding: 16px;
  }
}

.filter-select {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  select {
    background-color: white;
    border: 1px solid var(--primary-gray);
    border-radius: 6px;
    color: var(--font);
    font-weight: bold;
    padding: 16px;

    @media (max-width: 1150px) {
      padding: 8px;
    }
  }
}
